body{
    margin: 0;
}

.login-container, .new-user-container{
    background-color: #fff;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
    width: 300px;
    margin: 50px auto;
}

.complete-order{
    background-color: #fff;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
    width: 300px;
    margin: 50px auto;
}

.complete-order h2{
    text-align: center;
}

.container-complete div{
    width: 250px;
}

.container-complete {
    justify-content: center;
    display: flex
}

.login-container h2, .new-user-container h2 {
    text-align: center;
    margin-bottom: 20px;
}

.form-group{
    margin-bottom: 20px;
}

.form-control{
    width: 100%;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #ced4da;
}

.btn-login, .btn-primary {
    width: 100%;
    padding: 10px;
    border: none;
    background-color: #007bff;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin: 0 0 16px 0;
}

.btn-details {
    padding: 10px;
    border: none;
    background-color: #007bff;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin: 0 0 16px 0;
}

.btn-login:hover, .btn-primary:hover, .btn-details:hover{
    background-color: #0056b3;
    color: whitesmoke;
}

.alert{
    margin-top: 20px;
    padding: 10px;
    border-radius: 4px;
    color: #721c24;
    background-color: #f8d7da;
    border: 1px solid #f5c6cb;
}

.details-container {
    background-color: #fff;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
    margin-top: 50px;
    margin-bottom: 20px;
}

.details-container h1 {
    color: #333;
    text-align: center;
    margin-bottom: 20px;
}

.details-container hr {
    border-top: 1px solid #ddd;
}

.details-container dl.row {
    margin-bottom: 20px;
}

.details-container dt,
.details-container dd {
    padding: 10px;
}

.details-container dt {
    font-weight: bold;
    color: #007bff;
}

.details-container dd {
    margin-left: 0;
    color: #333;
}