<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Shop</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Shop.styles.css" asp-append-version="true" />
    <script async src="~/js/site.js"></script>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light">
                <a class="navbar-brand text-white" asp-area="" asp-controller="Products" asp-action="Index">Shop</a>
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                    </ul>
                <ul class="navbar-nav align-items-center">
                <li class=" pe-lg-2">
                    @{
                        var UserLogin = Context.Session.GetString("UserLogin");
                        var UserId = Context.Session.GetInt32("UserId");
                    }
                    @if (UserId.HasValue)
                    {
                        <a id="basket" asp-controller="Orders" asp-action="Index"><img src="~/image/basket_icon.png" alt="Facebook" /></a>
                    }
                    </li>
                    <li>
                    @if (!string.IsNullOrEmpty(UserLogin))
                    {
                        <a class="nav-link text-white" asp-controller="Users" asp-action="Details" asp-route-id="@UserId">@UserLogin</a>
                    }
                    else
                    {
                        <a class="nav-link text-white" asp-controller="Account" asp-action="Login">Log in</a>
                    }
                    </li>
                    <li>
                    <a class="nav-link text-white" asp-area="" asp-controller="Account" asp-action="Logout">Log out</a>
                    </li>
                </ul>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer>
        <nav>
            &copy; 2024. Valera Sychenko
            <ul class="icons">
            <li>
                    <a href="https://www.facebook.com/valera.sychenko" target="_blank"><img src="~/image/facebook_icon.png" alt="Facebook" /></a>
            </li>
            <li>
                    <a href="https://www.instagram.com/valerasychenko/" target="_blank"><img src="~/image/instagram_icon.png" alt="Instagram" /></a>
            </li>
            <li>
                    <a href="https://www.linkedin.com/in/valera-sychenko-3bab642a2/" target="_blank"><img src="~/image/linkedin_icon.png" alt="Linkedin" /></a>
            </li>
          </ul>
        </nav>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
