<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/home.css"/>
    <title>Privacy Policy</title>
</head>
<body class="body-privacy">
    <div class="container-privacy">
        <h1>Privacy Policy</h1>

        <section>
            <h2>Information We Collect:</h2>
            <ul>
                <li>When you visit our website, we may collect certain information about your device, including your IP address, browser type, and operating system.</li>
                <li>If you make a purchase, we may collect your name, email address, shipping address, and payment details.</li>
                <li>We may also collect information about your browsing behavior on our site, such as pages visited and products viewed.</li>
            </ul>
        </section>

        <section>
            <h2>How We Use Your Information:</h2>
            <p>We use the information we collect to process orders, provide customer support, and improve our website's functionality and user experience.</p>
            <p>Your email address may be used to send you order updates, promotional offers, and newsletters. You can opt-out of these communications at any time.</p>
            <p>We do not sell, trade, or otherwise transfer your personal information to third parties without your consent, except as required by law or to fulfill orders.</p>
        </section>

        <section>
            <h2>Data Security:</h2>
            <p>Your payment information is encrypted and processed securely by trusted third-party payment processors.</p>
        </section>

        <section>
            <h2>Your Consent:</h2>
            <p>By using our website, you consent to the terms of this Privacy Policy and the collection and use of your information as described herein.</p>
        </section>

        <section>
            <h2>Changes to This Policy:</h2>
            <p>We reserve the right to update or modify this Privacy Policy at any time. Any changes will be posted on this page, and your continued use of our website after such modifications constitutes your acceptance of the revised policy.</p>
        </section>

        <section>
            <h2>Contact Us:</h2>
            <p>If you have any questions or concerns about our Privacy Policy, please contact us at <a href="mailto:sychenko11@gmail.com">sychenko11@gmail.com</a>. We are here to assist you and ensure your shopping experience with us is safe and enjoyable.</p>
        </section>

        <p>Thank you for shopping with us!</p>
        <p>Valera Sychenko</p>
    </div>
</body>
</html>
